MONGODB_URL=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/?appName=<APP_NAME>
DATABASE_NAME=hackout_emission_db
JWT_SECRET=your_jwt_secret_key
ML_MODEL_PATH=./ml/models/recommender_v1.joblib
